body {
    font-family: sans-serif;
    background-color: black;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.home-background {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(images/home-background.jpg);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.logo {
    height: 80px;
    width: 190px;
    margin-top: -3px;
    margin-left: 120px;
    position: relative;
    z-index: 2;
}

.header-buttons {
    float: right;
    margin-right: 140px;
    margin-top: 10px;
}

.translate-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 33px;
    width: 130px;
    border-radius: 5px;
    border: solid 1px;
    border-color: grey;
    outline-color: white;
    font-size: 15px;
    padding-right: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.selected-language {
    flex-grow: 1;
    margin-left: 3px;
}

.down-arrow-icon {
    position: relative;
    left: 20px;
    top: 2px;
}

.dropdown-menu {
    display: none;
}

#language-menu {
    background-color: gainsboro;
    width: 130px;
    position: absolute;
}

.menu-item {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.menu-item:hover {
    background-color: blue;
    color: white;
}

.sign-in-button {
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    height: 33px;
    width: 80px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 510px;
    width: 100%;
    color: white;
    position: relative;
    z-index: 2;
}

.header-container h1 {
    text-align: center;
    font-size: 56px;
    width: 50%;
    margin-bottom: 9px;
}

.starts {
    font-size: 19px;
    font-weight: 580;
    margin-bottom: 25px;
}

.ready {
    font-size: 16px;
}

.header-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    margin-right: 10px;
    position: relative;
    z-index: 3;
}

.header-search-container input {
    height: 30px; 
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px;
    border-color: grey;
    outline-color: white;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.header-search-container input::placeholder {
    font-size: 16px;
    color: gainsboro;
}

.header-search-container button {
    background-color: red;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    height: 54px;
    width: 220px;
    margin-left: 8px;
    cursor: pointer;
 }
 
 .suggestion-background {
    background: linear-gradient(rgb(48, 25, 52) 0.2%, rgb(0, 0, 0) 30%);
    height: 100vh;
    width: 100%;
    margin-top: 250px;
 }

 .plan-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 200px;
    transition: 0.2s ease;
 }

 .plan-popup:hover {
    transform: scale(1.05);
 }

 .plan-popup img {
    width: 90px;
    height: 90px;
 }

 .plan-bar {
    background-color:rgb(40, 25, 52);
    height: 50px;
    width: 80%;
    border-radius: 10px;
    padding: 15px;
    padding-left: 30px;
    margin-left: 10px;
 }

 .plan-bar p {
    margin-top: 10px;
 }

 .plan-bar:hover {
    background:linear-gradient(to right, rgb(55, 25, 52) 30%, rgb(40, 25, 52) 80%);
 }

 .plan-popup button {
    font-size: 16.5px;
    font-weight: bold;
    background-color: #636363;
    border-radius: 5px;
    color: white;
    padding: 10px;
    float: right;
    margin-top: -15px;
    margin-right: 10px;
    width: 120px;
    cursor: pointer;
    border: none;
 }

 .trendnow {
    color: white;
    margin-left: 80px;
 }

 .suggestion-buttons {
    margin-left: 80px;
    margin-top: 30px;
 }

 .location-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 33px;
    width: 140px;
    border-radius: 5px;
    border: solid 1px;
    border-color: grey;
    outline-color: white;
    font-size: 14.5px;
    cursor: pointer;
    margin-right: 10px;
    padding-right: 20px;
}

.selected-location {
    position: relative;
    left: 2px;
}

.type-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 33px;
    width: 130px;
    border-radius: 5px;
    border: solid 1px;
    border-color: grey;
    outline-color: white;
    font-size: 15px;
    cursor: pointer;
}

#location-menu {
    background-color: gainsboro;
    width: 130px;
    margin-left: 80px;
    position: absolute;
}


#type-menu {
    background-color: gainsboro;
    width: 130px;
    margin-left: 225px;
}

.scroll-box {
    overflow: auto;
    white-space: nowrap;
    background-color: black;
    width: 88%;
    height: 60%;
    margin-top: -600px;
    margin-left: 70px;
}

.scroll-box img {
    border-radius: 25px;
    padding: 10px;
}

.numbered-list {
    font-size: 90px;
    font-weight: bold;
    position: relative;
    right: 120px;
    top: 330px;
    list-style-type: none;
}

.numbered-list li {
    display: inline-block;
    color: black;
    padding-left: 143px;
}

.outlined-number {
    font-size: 90px;
    text-shadow: 2px 2px 0px white, -2px -2px 0px white, -2px 2px 0px white, 2px -2px 0px white;
}

.reasons {
    color: white;
    margin-left: 80px;
}

.reason-list {
    margin-top: 20px;
    margin-left: 72px;
    display: flex;
    gap: 38px;
}

.reason-list div {
    background:linear-gradient(to right, rgb(55, 25, 52) 30%, rgb(40, 25, 52) 80%);
    width: 255px;
    height: 300px;
    padding: 20px;
    border-radius: 15px;
}

.reason-list h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 22px;
}

.reason-list p {
    color: gainsboro;
    position: relative;
    bottom: -30px;
}

.reason-icon-list {
    position: relative;
    bottom: 90px;
    left: 90px;
    list-style-type: none;
    display: flex;
}

.tv-icon {
    position: absolute;
    left: 85px;
    width: 80px;
    height: 70px;
}

.arrow-icon {
    position: absolute;
    left: 425px;
    width: 75px;
    height: 65px;
}

.scope-icon {
    position: absolute;
    top: -27px;
    left: 730px;
    width: 100px;
    height: 90px;
}

.faces-icon {
    position: absolute;
    left: 1090px;
    width: 80px;
    height: 70px;
}