body {
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.home-background {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(images/home-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.logo {
    height: 80px;
    width: 190px;
    margin-top: -3px;
    margin-left: 120px;
    position: relative;
    z-index: 2;
}

.header-buttons {
    float: right;
    margin-right: 140px;
    margin-top: 10px;
}

.translate-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 33px;
    width: 130px;
    border-radius: 5px;
    border: solid 1px;
    border-color: grey;
    outline-color: white;
    font-size: 15px;
    padding-right: 20px;
    cursor: pointer;
    margin-right: 10px;
}
    
.translate-button-icon {
    position: relative;
    top: 2px;
    right: 5px;
    padding-right: 5px;
}

.down-arrow-icon {
    position: relative;
    top: 3px;
    left: 8px; 
}

.dropdown-menu {
    display: none;
}

#language-menu {
    background-color: gainsboro;
    width: 130px;
}

.menu-item {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.menu-item:hover {
    background-color: blue;
    color: white;
}

.checkmark {
    font-size: 12px;
    padding-right: 5px;
    display: none;
}

.selected .checkmark {
    display: inline;
}

.sign-in-button {
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    height: 33px;
    width: 80px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 510px;
    color: white;
    position: relative;
    z-index: 2;
}

.header-container h1 {
    text-align: center;
    font-size: 56px;
    width: 50%;
    margin-bottom: 9px;
}

.starts {
    font-size: 19px;
    font-weight: 580;
    margin-bottom: 25px;
}

.ready {
    font-size: 16px;
}

.header-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    margin-right: 10px;
}

.header-search-container input {
    height: 30px; 
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px;
    border-color: grey;
    outline-color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-search-container input::placeholder {
    font-size: 16px;
    color: gainsboro;
}

.header-search-container button {
    background-color: red;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    height: 54px;
    width: 220px;
    margin-left: 8px;
    cursor: pointer;
 }
 
 .suggestion-background {
    background: linear-gradient(rgb(48, 25, 52) 0.2%, rgb(0, 0, 0) 30%);
    height: 80%;
    width: 100%;
    margin-top: 250px;
 }

 .plan-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 200px;
    transition: 0.2s ease;
 }

 .plan-popup:hover {
    transform: scale(1.05);
 }

 .plan-popup img {
    width: 90px;
    height: 90px;
 }

 .plan-bar {
    background-color:rgb(40, 25, 52);
    height: 50px;
    width: 80%;
    border-radius: 10px;
    padding: 15px;
    padding-left: 30px;
    margin-left: 10px;
 }

 .plan-bar p {
    margin-top: 10px;
 }

 .plan-bar:hover {
    background:linear-gradient(to right, rgb(55, 25, 52) 30%, rgb(40, 25, 52) 80%);
 }

 .plan-popup button {
    font-size: 16.5px;
    font-weight: bold;
    background-color: #636363;
    border-radius: 5px;
    color: white;
    padding: 10px;
    float: right;
    margin-top: -15px;
    margin-right: 10px;
    width: 120px;
    cursor: pointer;
    border: none;
 }